body{
    color:black;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width:0.25rem;
}

body::-webkit-scrollbar-track{
    background: #ffffff;
}

body::-webkit-scrollbar-thumb{
    background: #000000;
}

.link-text{
    font-size: large;
    color:#ec4e0a;
}

.nav-links {
    color:rgba(0, 247, 255, 0.49);
    text-decoration: none;
}

a:hover .material-icons{
    color: #ec4e0a;
    text-decoration: none;
}

a:hover .link-text{
    text-decoration: none;
    color:rgba(0, 247, 255, 0.49);
}

.navbar {
    width: 100%;
    height: 5rem;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Bangers', cursive;
}

ul{
    list-style-type: none;
}

.navbar-right{
    text-align: right;
    margin-right:5%;
}

.navbar-left{
    position: relative;
    float:left;
}

#main:after{
    content: "Welcome To Noah Bruno's Portfolio.";
    position: absolute; left: 10px; top: 5px;
    color: rgba(0, 247, 255, 0.49);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

.type {
    overflow: hidden;
    border-right: .15em solid #ec4e0a;
    color: rgba(236, 78, 10, 0.50);
    white-space: nowrap;
    font-size: 6.5rem;
    width: 0;
    animation: typing 1.5s steps(20, end) forwards,
    blink .8s infinite;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    display: inline;
    position:relative;
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: #ec4e0a; }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

#frontPage{
    height: 90vh;
    width: 100%;
    background-color: #6F7788;
}

#aboutMe{
    height: 90vh;
    width: 100%;
    background-color: rgba(112, 134, 147, 0.6);
    font-family: 'Bangers', cursive;
}

#topCard:after{
    content: "About Me";
    position: absolute; left: 4px; top: 2px;
    color: rgba(0, 247, 255, 0.49);
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}

#middleCard:after{
    content: "Experience";
    position: absolute; left: 4px; top: 2px;
    color: rgba(0, 247, 255, 0.49);
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}

#lastCard:after{
    content: "Work/Education";
    position: absolute; left: 4px; top: 2px;
    color: rgba(0, 247, 255, 0.49);
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}

.forCardTops {
    overflow: hidden;
    color: rgba(236, 78, 10, 0.50);
    white-space: nowrap;
    font-size: 4.5rem;
    width: 0;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    display: inline;
    position:relative;
}

#experience{
    height: 90vh;
    width: 100%;
    background-color: rgba(133, 146, 149, 0.6);
    font-family: 'Bangers', cursive;
}

#work{
    height: 90vh;
    width: 100%;
    background-color: rgba(147, 155, 155, 0.6);
    font-family: 'Bangers', cursive;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.animatefadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation-duration: 2s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.animatefadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    animation-duration: 2s;
}

@keyframes jackInTheBox {
    from {
        opacity: 0;
        -webkit-transform: scale(0.1) rotate(30deg);
        transform: scale(0.1) rotate(30deg);
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
    }

    50% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    70% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.animate__jackInTheBox {
    -webkit-animation-name: jackInTheBox;
    animation-name: jackInTheBox;
}

.hide{
    visibility: hidden;

}
