body{
    color:black;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width:0.25rem;
}

body::-webkit-scrollbar-track{
    background: #ffffff;
}

body::-webkit-scrollbar-thumb{
    background: #000000;
}

.link-text{
    font-size: large;
    color:#ec4e0a;
}

.nav-links {
    color:rgba(0, 247, 255, 0.49);
    text-decoration: none;
}

a:hover .material-icons{
    color: #ec4e0a;
    text-decoration: none;
}

a:hover .link-text{
    text-decoration: none;
    color:rgba(0, 247, 255, 0.49);
}

.navbar {
    width: 100%;
    height: 5rem;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Bangers', cursive;
}

ul{
    list-style-type: none;
}

.navbar-right{
    text-align: right;
    margin-right:5%;
}

.navbar-left{
    position: relative;
    float:left;
}

#main:after{
    content: "Welcome To Noah Bruno's Portfolio.";
    position: absolute; left: 10px; top: 5px;
    color: rgba(0, 247, 255, 0.49);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

.type {
    overflow: hidden;
    border-right: .15em solid #ec4e0a;
    color: rgba(236, 78, 10, 0.50);
    white-space: nowrap;
    font-size: 6.5rem;
    width: 0;
    animation: typing 1.5s steps(20, end) forwards,
    blink .8s infinite;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    display: inline;
    position:relative;
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: #ec4e0a; }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

#frontPage{
    height: 100vh;
    width: 100%;
    background-color: #6F7788;
}

#aboutMe{
    height: 100vh;
    width: 100%;
    background-color: rgba(112, 134, 147, 0.6);
    font-family: 'Bangers', cursive;
}

#topCard:after{
    content: "About Me";
    position: absolute; left: 4px; top: 2px;
    color: rgba(0, 247, 255, 0.49);
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}

#middleCard:after{
    content: "Experience";
    position: absolute; left: 4px; top: 2px;
    color: rgba(0, 247, 255, 0.49);
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}

#lastCard:after{
    content: "Work/Education";
    position: absolute; left: 4px; top: 2px;
    color: rgba(0, 247, 255, 0.49);
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}

.forCardTops {
    overflow: hidden;
    color: rgba(236, 78, 10, 0.50);
    white-space: nowrap;
    font-size: 4.5rem;
    width: 0;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    display: inline;
    position:relative;
}

#experience{
    height: 100vh;
    width: 100%;
    background-color: rgba(133, 146, 149, 0.6);
    font-family: 'Bangers', cursive;
}

#work{
    height: 100vh;
    width: 100%;
    background-color: rgba(147, 155, 155, 0.6);
    font-family: 'Bangers', cursive;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.animatefadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation-duration: 2s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.animatefadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    animation-duration: 2s;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.animate__fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-duration: 2s;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.bigText{
    font-size: xx-large;
}

.hide{
    visibility: hidden;
}

.effect {
    margin: 0;
    padding: 0;
}

.effect .e {
    width: 15%;
    text-align: center;
    color: rgba(0, 247, 255, 0.49);
    transition: .5s;
    -webkit-text-stroke: 2px rgba(0,0,0,0.35);
}

.effect .e::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 75%;
    background: #ea6d37;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.effect .e:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ea6d37;
}

.effect .e:hover {
    color: #ea6d37;
    box-shadow: 0 0 5px #ea6d37;
    text-shadow: 0 0 5px #ea6d37;
}

.aColor{
    color:rgba(0, 247, 255, 0.49);
    -webkit-text-stroke: 2px rgba(0,0,0,0.35);
    font-size: 45px;
}

.aColor:hover{
    color:#ea6d37;
    text-decoration: none;
}

.pic{
    width:50vh;
    height:65vh;
}

.projectImg{
    width:150px;
    height:150px;
}

@media screen and (max-width: 1369px){

    .type {
        overflow: hidden;
        border-right: .15em solid #ec4e0a;
        color: rgba(236, 78, 10, 0.50);
        white-space: nowrap;
        font-size: 5rem;
        width: 0;
        animation: typing 1.5s steps(20, end) forwards,
        blink .8s infinite;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
        display: inline;
        position:relative;
    }
}

@media screen and (max-width: 1300px){
    .e{
        width:80px;
        font-size: 30px;
    }

    #html{
        /*position: absolute;*/
        margin-left: 200px;
    }

    #css{
        margin-left: 850px;
    }

    #javaS{
        margin-left:25px;
    }

    #boot{
        margin-left:575px;
    }

    #ajax{
        margin-left:300px;
    }

    #java{
        margin-left:750px;
    }

    #mysql{
        margin-left:450px;
    }
}

@media screen and (max-width: 1024px){
    #main:after{
        content: "Welcome To Noah Bruno's Portfolio.";
        position: absolute; left: 8px; top: 4px;
        color: rgba(0, 247, 255, 0.49);
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
    }

    .type {
        overflow: hidden;
        border-right: .15em solid #ec4e0a;
        color: rgba(236, 78, 10, 0.50);
        white-space: nowrap;
        font-size: 50px;
        width: 0;
        animation: typing 1.5s steps(20, end) forwards,
        blink .8s infinite;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
        display: inline;
        position:relative;
    }

    .pic{
        width:30vh;
        height:40vh;
    }

    #html{
        /*position: absolute;*/
        margin-left: 100px;
    }

    #css{
        margin-left: 550px;
    }

    #javaS{
        margin-left:25px;
    }

    #boot{
        margin-left:455px;
    }

    #ajax{
        margin-left:200px;
    }

    #java{
        margin-left:600px;
    }

    #mysql{
        margin-left:275px;
    }
}

@media screen and (max-width: 767px) {
    #nav {
        display: none;
    }
    .bigText{
        font-size: small;
    }

    .aColor{
        font-size: x-large;
    }

    #main:after{
        content: "Welcome To Noah Bruno's Portfolio.";
        position: absolute; left: 8px; top: 4px;
        color: rgba(0, 247, 255, 0.49);
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2px;
    }

    .type {
        overflow: hidden;
        border-right: .15em solid #ec4e0a;
        color: rgba(236, 78, 10, 0.50);
        white-space: nowrap;
        font-size: 3rem;
        width: 0;
        animation: typing 1.5s steps(20, end) forwards,
        blink .8s infinite;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2px;
        display: inline;
        position:relative;
    }


    #lastCard{
        display: none;
    }

    #lastCard2:after{
        content: "Work";
        position: absolute; left: 4px; top: 2px;
        color: rgba(0, 247, 255, 0.49);
        font-family: 'Bangers', cursive;
        letter-spacing: 2px;
    }



}

@media screen and (max-width: 680px){


    .aColor{
        font-size:large;
    }


    #main:after{
        content: "Welcome To Noah Bruno's Portfolio.";
        position: absolute; left: 8px; top: 4px;
        color: rgba(0, 247, 255, 0.49);
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
    }

    .type {
        overflow: hidden;
        border-right: .15em solid #ec4e0a;
        color: rgba(236, 78, 10, 0.50);
        white-space: nowrap;
        font-size: 1.5rem;
        width: 0;
        animation: typing 1.5s steps(20, end) forwards,
        blink .8s infinite;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
        display: inline;
        position:relative;
    }

}

@media screen and (max-width: 425px){
    #main:after{
        content: "Welcome To Noah Bruno's Portfolio.";
        position: absolute; left: 4px; top: 2px;
        color: rgba(0, 247, 255, 0.49);
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
    }

    .aColor{
        font-size: 30px;
    }

    #ulWork{
        display:flex;
        flex-direction: column;
    }

    #html{
        /*position: absolute;*/
        margin-left: 0;
    }

    #css{
        margin-left: 0;
    }

    #javaS{
        margin-left:0;
    }

    #boot{
        margin-left:0;
    }

    #ajax{
        margin-left:0;
    }

    #java{
        margin-left:0;
    }

    #mysql{
        margin-left:0;
    }
}

@media screen and (max-width: 400px){
    #main:after{
        content: "Welcome To Noah Bruno's Portfolio.";
        position: absolute; left: 4px; top: 2px;
        color: rgba(0, 247, 255, 0.49);
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
    }

    .type {
        overflow: hidden;
        border-right: .15em solid #ec4e0a;
        color: rgba(236, 78, 10, 0.50);
        white-space: nowrap;
        font-size: 1rem;
        width: 0;
        animation: typing 1.5s steps(20, end) forwards,
        blink .8s infinite;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
        display: inline;
        position:relative;
    }

    .pic{
        width:20vh;
        height:30vh;
    }
}

@media screen and (min-width: 768px){
    #lastCard2{
        display:none;
    }
}

@media screen and (min-width: 1300px) {
    .e{
        width:80px;
        font-size: 45px;
    }
    #html{
        /*position: absolute;*/
        margin-left: 400px;
    }

    #css{
        margin-left: 1150px;
    }

    #javaS{
        margin-left:200px;
    }

    #boot{
        margin-left:850px;
    }

    #ajax{
        margin-left:500px;
    }

    #java{
        margin-left:1000px;
    }

    #mysql{
        margin-left:700px;
    }
}